<section id="wrapper" class="skewed">

    <div class="layer bottom">
        <div class="content-wrap">
            <div class="content-body">
                <h1>Look Sharp</h1>
                <p>Together, they own about 14 percent of its shares and control 56 percent of the stockholder
                    voting power through supervoting stock. They incorporated Google as a privately held company on
                    September 4, 1998</p>
            </div>
            <img src="/public/img/image27.png" alt="">
        </div>
    </div>

    <div class="layer top">
        <div class="content-wrap">
            <div class="content-body">
                <h1>Stay Cool</h1>
                <p>Together, they own about 14 percent of its shares and control 56 percent of the stockholder
                    voting power through supervoting stock. They incorporated Google as a privately held company on
                    September 4, 1998</p>
            </div>
            <img src="/public/img/image26.jpg" alt="">
        </div>
    </div>
    <div class="handle"></div>
</section>