body {
  background-color: #222;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}
h1.lg-heading,
h2.lg-heading,
h3.lg-heading {
  font-size: 6rem;
}
h1.sm-heading,
h2.sm-heading,
h3.sm-heading {
  margin-bottom: 2rem;
  padding: 0.2rem 1rem;
  background: rgba(73, 73, 73, 0.5);
}

header {
  position: fixed;
  z-index: 2;
  width: 100%;
}

.text-secondary {
  color: #eece1a;
}

.projects {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(4, 1fr);
  margin-right: 40px;
}

.item a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px;
  background: #fff;
}
.projects img {
  width: 40%;
  border: 3px #fff solid;
}
.projects img:hover {
  opacity: 0.8;
  transition: all 0.5s ease-out;
}

.btn,
.btn-dark,
.btn-light {
  text-align: center;
  display: block;
  padding: 1rem 1rem;
  border: 0;
  margin-bottom: 0.3rem;
}
.btn:hover,
.btn-light:hover {
  background: #eece1a;
  color: #000;
}

.btn-dark {
  background: black;
  color: #428bca;
}

.btn-light {
  color: #333;
}

@media screen and (min-width: 1171px) {
  .projects {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .projects {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center;
  }
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  main {
    padding: 2rem;
  }
  .projects {
    grid-template-columns: 1fr;
  }
}
